body {
    --background: #292a2d;
    --background-secondary: #d9efd7;
    --header: #252627;
    --color: #d9efd7;
    --color-secondary: #252627;
    --border-color: #4a4b50;
}

nav {
    --background: #292a2d;
    --background-secondary: #d9efd7;
    --header: #252627;
    --color: #d9efd7;
    --color-secondary: #252627;
    --border-color: #4a4b50;
}