{{ $featured_image := partial "func/GetFeaturedImage.html" . }} 

{{ if $featured_image }}

<header style="background-image: url('{{ .Site.BaseURL }}{{ $featured_image }}');" class="header-kuro">
    <h1 class="header-kuro_in">{{ .Title | default .Site.Title }}</h1>
    {{ with .Params.description }}
    <h5 class="header-kuro_in">{{ . }}</h2>
    {{ end }}
</header>
{{ else }}
<header class="header-kuro head-alt">
    <h1 class="header-kuro_in head-alt">{{ .Title | default .Site.Title }}</a></h1>
    {{ with .Params.description }}
    <h5 class="header-kuro_in">{{ . }}</h2>
    {{ end }}
</header>
{{ end }}
